<div id="main">
<section id="content">
  <div id="right">
 
        <h3>Top Sales</h3>
        <ul>
             <li>
                <div class="img"><a href="#"><img alt="" src=""></a></div>
                   <div class="info">
                       <a class="title" href="#">Product 7</a>
                           <div class="price">
                             <span class="usual">$600.00 </span>&nbsp;
                             <span class="special">$500.00</span>
                            </div>
                    </div>
             </li>
             <li>
                <div class="img"><a href="#"><img alt="" src="images/post5.jpg"></a></div>
                   <div class="info">
                        <a class="title" href="#">Product 8</a>
                            <div class="price">
                             <span class="usual">$500.00 </span>&nbsp;
                             <span class="special">$400.00</span>
                            </div>
                   </div>
              </li>
              <li>
                <div class="img"><a href="#"><img alt="" src="images/post4.jpg"></a></div>
                    <div class="info">
                        <a class="title" href="#">Product 9</a>
                            <div class="price">
                              <span class="usual">$700.00 </span>&nbsp;
                              <span class="special">$600.25</span>
                            </div>
                    </div>
              </li>
              <li>
                 <div class="img"><a href="#"><img alt="" src="images/post3.jpg"></a></div> 
                    <div class="info">
                        <a class="title" href="#">Product 10</a>
                           <div class="price">
                           <span class="usual">$805.00 </span>&nbsp;
                           <span class="special">$714.25</span>
                           </div>
                    </div>
              </li>
              <li>
                  <div class="img"><a href="#"><img alt="" src="images/post2.jpg"></a></div>
                    <div class="info">
                        <a class="title" href="#">Product 11</a>
                           <div class="price">
                            <span class="usual">$1205.00 </span>&nbsp;
                            <span class="special">$1000.25</span>
                           </div>
                    </div>
              </li>
              <li>
                  <div class="img"><a href="#"><img alt="" src="images/post1.jpg"></a></div>
                    <div class="info">
                       <a class="title" href="#">Product 12</a>
                        <div class="price">
                            <span class="usual">$200.00 </span>
                            <span class="special">$190.25</span>
                        </div>
                    </div>
              </li>
        </ul>
  </div>

</section>
</div>

{{yield}}
