<div id="main" class="main-left">
   <section id="content">
   <div id="left">
     
         <h3>Latest products</h3>
            <ul>
               <li>
                 <div class="img"><a href="#"><img alt="" src=""></a></div>
                       <div class="info"> 
                         <a class="title" href="#">Product 1</a>
                         <p>long description here 1</p>
                         <div class="price">
                             <span class="st">Our price:</span><strong>$550.00</strong>
                        </div>
                        <div class="actions">
                          <a href="#">Details</a>
                          <a href="#">Add to cart</a>
                        </div>
                  </div>
                </li>
                <li>
                <div class="img"><a href="#"><img alt="" src="images/post2.jpg"></a></div>
                   <div class="info">
                       <a class="title" href="#">Product 2</a>
                        <p>long description here 2</p>
                        <div class="price">
                         <span class="st">Our price:</span><strong>$250.00</strong>
                        </div>
                        <div class="actions">
                         <a href="#">Details</a>
                         <a href="#">Add to cart</a>
                        </div>
                    </div>
                </li>
                <li> 
                <div class="img"><a href="#"><img alt="" src="images/post3.jpg"></a></div>
                        <div class="info">
                          <a class="title" href="#">Product 3</a>
                          <p>long description here 3</p>
                          <div class="price">
                          <span class="st">Our price:</span><strong>$350.00</strong>
                        </div>
                           <div class="actions">
                           <a href="#">Details</a>
                           <a href="#">Add to cart</a>
                        </div>
                        </div>
                </li>
                <li>
                <div class="img"><a href="#"><img alt="" src="images/post4.jpg"></a></div>
                          <div class="info">
                           <a class="title" href="#">Product 4</a>
                           <p>long description here 1</p>
                          <div class="price">
                           <span class="st">Our price:</span><strong>$550.00</strong>
                          </div>
                          <div class="actions">
                            <a href="#">Details</a>
                            <a href="#">Add to cart</a>
                          </div>
                 </div>
                 </li>
                 <li>
                <div class="img"><a href="#"><img alt="" src="images/post5.jpg"></a></div>
                          <div class="info">
                             <a class="title" href="#">Product 5</a>
                             <p>long description here 2</p>
                          <div class="price">
                             <span class="st">Our price:</span><strong>$250.00</strong>
                          </div>
                          <div class="actions">
                             <a href="#">Details</a>
                             <a href="#">Add to cart</a>
                          </div>
                </div>
                 </li>
                  <li>
                <div class="img"><a href="#"><img alt="" src="images/post6.jpg"></a></div>
                           <div class="info">
                             <a class="title" href="#">Product 6</a>
                             <p>long description here 3</p>
                           <div class="price">
                               <span class="st">Our price:</span><strong>$350.00</strong>
                           </div>
                           <div class="actions">
                             <a href="#">Details</a>
                             <a href="#">Add to cart</a>
                           </div>
                </div>
                 </li>
            </ul>
      </div>
      </section>
      </div>




{{yield}}
